header{
    background-color: #fff;
}
.cabecera {
    background-color: rgb(192, 72, 168);
    padding: 5px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.logo {
    text-align:right;
    background-color: #ffffff;
}

nav {
    background-color: #f2f2f2;
    border-bottom: 1px solid red;
    padding: 10px;
}
nav li {
    display: inline-block;
    margin-right: 10px;
}

/* MENU LATERAL**/

body{
    margin:0px
    }
    .barra {
        font-family: 'Lato', sans-serif;
        /**Alto y ancho de donde se va a activar cuando pase el mouse**/
        width:8%;
        height:9%;
        position:fixed;
        /*animacion*/
        transition: .4s all ;
        z-index: 1;  
    }
    
    .barra ul{
        /*solucionar espacios*/
        padding:0px;
        text-align: center;
            
    }
    .barra  li{
        /*Velocidad de transicion*/
        transition:all .3s;
        list-style: none; 
    }
    
    .barra a{
        text-decoration: none;
        
        font-weight: normal;
        transition: .3s all ;
        /*ocultar elementos*/
        font-size: 0px;
        padding:0px;
    }

    /*barra de busqueda (falta insertar icono*/
 .barra input{
    border-radius: 50px;    
    font-size: 15px;
    padding: 5px 15px;
    margin-left: 12%;;
    text-align: center;
    font-size: 0px;
    padding:0px;
 }
    
    .barra  h2{
        text-align: center;
        color:white;
        padding:7px;
        padding-bottom:7px;
    
        /*oculta h2*/
        font-size:0px;   
    }
    
    .barra img{
        padding-top: 30px;
        padding-left: 10px;
    }
    
    .barra:hover{
        /*tamaño cuando el cursor señale la barra*/
        width: 70%;
        height: 100vh;
        
        /*color*/
        background: #EFB2D8
    }
    .barra:hover h2{

        padding:15px;
        font-size: 35px;
    }
    .barra:hover a{ 
        font-size:20px ;
        color:white;
        /*para que el enlace respete el margen*/
        display: block;
        padding:20px;
    }

    .barra:hover input{
    
            font-size:20px ;
            color:white;
            /*para que el enlace respete el margen*/
            display: block;
            padding:20px;
    
    }
    .barra:hover img{
        /*Desaparecer imagen*/
        height:0px;
    }
    
    
    
    .barra:hover ul:last-of-type{
    
    
        border-bottom: 1px solid #03121b;
    }
    
    .barra:hover a:hover{ 
        font-size: 25px;
        padding: 30px 0px; 
        background: rgba(0, 0, 0.2);  
    }
    
    @media (min-width: 768px){
        .barra:hover{
        width: 45%;
        }
    }

footer{
       position: absolute;
       bottom: 0;
       left: 0;
       right: 0;
       background: #111;
       height: auto;
       width: 100vm;
       font-family: "Open Sans";
       padding-top: 40px;
       color: #fff;
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

    }
    .footer-content h3{
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }
    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;

    }
    .socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem;
    }
    .socials li{
    margin: 0 10px;
    }
    .socials a{
        text-decoration: none;
        color: #fff;
    }
    .socials a i {
        font-size: 1.1rem;
        transition: color .4s ease;
    }
    .socials a:hover i{
        color: blueviolet;

    }
.foooter-bottom{
    background: #000;
    width: 100vw;
    padding: 200px 0;
    text-align: center;
}
.foooter-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.foooter-bottom span{
    text-transform: uppercase;
    opacity: 4;
    font-weight: 200;
}

